# انسخ هذا الملف باسم .env وعدّل القيم

# بادئة الأوامر (مثال: .سعر أو !سعر)
COMMAND_PREFIX=.

# اسم صاحب البوت اللي يظهر في الملصقات
STICKER_PACK_NAME="استا ساما هو الافضل"
STICKER_AUTHOR_NAME="ENG.YOUSEF"

# رقمك أنت (بصيغة دولية بدون +) عشان البوت يتجاهل رسائلك أو يعطيك صلاحيات أدمن
OWNER_NUMBER=967784609423

# فعّل أو عطّل ميزات كاملة (true / false)
ENABLE_AUTO_REPLY=true
ENABLE_ANTI_DELETE=true
ENABLE_STICKER_MAKER=true
ENABLE_SCHEDULER=true

# منطقة زمنية للفعاليات المجدولة
TIMEZONE=Asia/Riyadh
